<!DOCTYPE html>
<html>
<head>
<title>Kalorienbedarf berechnen</title>
</head>

<body style="color: eee; margin-left: auto; margin-right: auto; max-width: 800px; text-align:center;">
  <a href='/index' style="text-decoration:none; color: inherit;"><h1>Kalorienbedarf berechnen</h1></a>
  <hr>
  <div>
    Kalorienbedarf: <%= @result %> kcal
  </div>
</body>

</html>